*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    margin-left: 120px;
    margin-right: 120px;
}
nav{
    background-color: aqua;
    

}
nav .container{
    display: flex;
    justify-content: space-between;
    color: white;  
    height: 45px;
    align-items: center;
    padding: 10px;

}
ul{
    list-style: none;
    display: flex;
    
}
ul li a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.jose .container{
    border-bottom: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;



}
.temp{
    display: flex;
    gap: 10px;
   
}
.box{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 350px;
    
}
.weather{
    margin-top: 30px;
}
.weather .container{
    display: flex;
    gap: 20px;
}
img{
    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
.number{
    display: flex;
    justify-content: space-between  ;
    padding: 20px;
    

}
.cookies .container .items{
    display: flex;
    background-color: #ddd;
    align-items: center;
    margin-top: 5px;
    border: 5px solid black;
    gap: 20px;
    padding: 20px;
}
.but{
    background-color: aqua;
    border: 3px solid black;
    box-shadow:  4px 4px black;
    padding: 10px;
}
