*{
    margin: 12px;
    padding: 12px;

}
.container{
    width: 950px;
    height: 0px auto;
    background-color: silver;
    margin: 35px ;
}
.top-nav {
    height: 150px;
    width: auto;
    background-color: green;
    margin: 0px auto;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}
.main {
    height: 450px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}
#advertisement {
    height: 100px;
    width: 800px;
    background-color: purple;
}


